.bgSection{
    margin-top: 4%;
    width: 100%;
    height: 900px;
    background-size: 100%;
    text-align: center;
    position: relative;
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 35%;
}

.bgSection h1{
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.bgSection p{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    width: 650px;
    justify-self: center;
    align-self: center;
}

.decoTitle2{
    width: 150px;
    height: 5px;
    background-color: #ffffff;
    align-self: center;
    margin-top: -2%;
}

@media screen and (min-width: 901px) and (max-width: 1365px) {
  .bgSection {
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 650px;
  }
  .bgSection h1 {
    font-size: clamp(24px, 3.5vw, 38px);
  }
  .bgSection p {
    font-size: clamp(13px, 1.3vw, 16px);
  }
}

@media screen and (min-width: 1366px) and (max-width: 1600px){
    .bgSection{
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 768px;
    }
    .bgSection h1 {
        font-size: clamp(28px, 4vw, 45px);
    }
    .bgSection p {
        font-size: clamp(14px, 1.5vw, 18px);
    }
}

@media screen and (min-width: 1600px)  and (max-width: 1920px){
    .bgSection{
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 900px;
    }
    .bgSection h1{
        font-weight: 700;
        font-size: 45px;
    }
    .bgSection p{
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
  .bigBanner{
    height: 250px !important;
    margin-bottom: 0% !important;
    padding: 0% !important;
  }

  .bgSection {
    background-size: cover;
    margin: auto;
    height: fit-content;
  }

.bgSection, background-image{
    height: 250px;
  }

  .sectionContainer {
    left: 10%;
  }
  .bgSection h1 {
    font-size: clamp(20px, 5vw, 28px);
    width: 90%;
        background-color: rgba(163, 116, 54, 0.459);
  }
  .bgSection p {
    font-size: clamp(12px, 3vw, 16px);
    width: 90%;
    justify-self: center;
    align-self: center;
    font-weight: 800;
    letter-spacing: 0.5px;
    background-color: rgba(163, 116, 54, 0.459);
  }
  .decoTitle2 {
    display: none;
  }
}