.carousel-container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  z-index: 0;
}

.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Botones */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10%;
  font-size: 20px;
  z-index: 10;
  transition: background 0.3s;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.925);
}

.prev {
  left: 12px;
}

.next {
  right: 12px;
}

/* Indicadores */
.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}

.indicators span {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.indicators .active {
  background: white;
  width: 12px;
  height: 12px;
}

.scroll-indicator {
  position: absolute;
  bottom: 80px; /* Ajustá según tu diseño */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 20;
}

.scroll-indicator .arrow {
  display: block;
  width: 24px;
  height: 24px;
  border-bottom: 6px solid #83dcfc;
  border-right: 6px solid #018cbe;
  transform: rotate(45deg);
  margin: 0 auto;

  animation: bounce 1.4s infinite ease-in-out;
}

/* Animación */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(10px) rotate(45deg);
  }
}

