.card {
    background-color: rgba(255, 255, 255, 0.75);
    max-height: auto;
    min-width: 400px;
    align-content: center;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    will-change: transform;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
}

.card-content {
    transform: translateZ(50px);
    text-align: center;
    padding-left: 5%; padding-right: 5%;
}

.card-content h3 {
    font-size: var(--font-size-title);
}

.card-content p {
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card .deco {
    width: clamp(60px, 10vw, 100px);
    height: 4px;
    background-color: var(--color-primario);
    justify-self: center;
}

.card p{
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
}

.card h2{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

/* Laptops chicas (901px – 1280px) */
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .card {
    min-width: 330px;
    padding: 15px;
  }
  .card h2 {
    font-size: 20px;
  }
  .card p {
    font-size: 14px;
  }
}

/* Laptops grandes y desktops comunes (1281px – 1600px) */
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .card {
    min-width: 370px;
    padding: 18px;
  }
  .card h2 {
    font-size: 22px;
  }
  .card p {
    font-size: 15px;
  }
}

/* Monitores grandes (1601px – 1920px) */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .card {
    min-width: 400px;
    padding: 20px;
  }
  .card h2 {
    font-size: 23px;
  }
  .card p {
    font-size: 15.5px;
  }
}

/* 2K y 4K (1921px en adelante) */
@media screen and (min-width: 1921px) {
  .card {
    min-width: 500px;
    padding: 28px;
  }
  .card h2 {
    font-size: 28px;
  }
  .card p {
    font-size: 18px;
  }
}

/*MOBILE*/
@media (max-width: 640px) {
  .card {
    min-width: auto;
    width: 100%;
  }

  .card .deco{
    width: clamp(40px, 20vw, 80px);
    align-self: center !important;               /* ocultar linea decorativa en mobile */
  }
}
