/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contact-container {
  width: 100%;
  max-width: clamp(280px, 90vw, 400px);
  min-height: auto;
  background-color: white;
  padding: var(--spacing-md);
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  flex-wrap: wrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: var(--spacing-md);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
}

.form-group label {
  font-size: var(--font-size-paragraph);
  margin-bottom: var(--spacing-sm);
}

input, select, button {
  padding: var(--spacing-sm);
  font-size: var(--font-size-paragraph);
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contact-container {
    border-radius: 20px;
    margin: var(--spacing-md) auto;
  }
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0d9e39;
}

button:disabled {
  background: #0faac5c5;
}

.error {
  color: red;
  font-size: 12px;
}
