.contact-container {
  background-color: white;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* evita que el padding sume al ancho */
  align-items: center;
  justify-content: center;
  align-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
}

.form-group label {
  font-size: var(--font-size-paragraph);
}

input, select, button {
  padding: 4%;
  font-size: var(--font-size-paragraph);
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  background: #0658b1;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #0d9e39;
}

button:disabled {
  background: #0faac5c5;
}

.error {
  color: red;
  font-size: 12px;
}

/* Laptops chicas (901px – 1280px) */
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .contact-container {
    max-width: 500px;
    min-height: 500px;
  }
}

/* Laptops grandes y desktops comunes (1281px – 1600px) */
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .contact-container {
    max-width: 550px;
    min-height: 520px;
  }
}

/* Monitores grandes (1601px – 1920px) */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .contact-container {
    max-width: 600px;
    min-height: 550px;
  }
}

/* 2K y 4K (1921px en adelante) */
@media screen and (min-width: 1921px) {
  .contact-container {
    max-width: 700px;
    min-height: 600px;
  }
}

/* Mobile (hasta 768px) */
@media screen and (max-width: 768px) {
  .contact-container {
    border-radius: 20px;
    margin: var(--spacing-md) auto;
    max-width: 90%; /* ocupa casi todo el ancho en mobile */
  }
}
