.smallCard{
    background-color: rgba(202, 202, 202, 0.35);
    width: 300px;
    height: 195px;
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
    margin: 10px auto;
}

.smallCard h2{
    font-weight: 500;
    font-size: 22px;
}

.smallCard p{
    text-align: left;
    font-size: 18px;
}

@media (max-width: 640px){
    .smallCard{
        width: 90%;
        height: fit-content;
        padding-left: 20px;
        padding-right: 20px;
    }

    .smallCard p{
        font-size: 16px;
        text-align: center;
    }

    .smallCard h2{
        font-size: 20px;
    }
}