.contenedor{
    margin-top: 2%;
    text-align: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.imgContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-self: right;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    justify-self: left;
}

.decoTitle{
    width: 150px;
    height: 5px;
    background-color: #7ACBCF;
    margin-bottom: 2%;
}

.orderContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/* Laptops chicas (901px – 1280px) */
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .imgContainer {
    gap: 20px;
  }
  .cardContainer {
    gap: 20px;
  }
  .orderContainer {
    gap: 20px;
  }
}

/* Laptops grandes y desktops comunes (1281px – 1600px) */
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .imgContainer {
    gap: 25px;
  }
  .cardContainer {
    gap: 25px;
  }
  .orderContainer {
    gap: 25px;
  }
}

/* Monitores grandes (1601px – 1920px) */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .imgContainer {
    gap: 30px;
  }
  .cardContainer {
    gap: 30px;
  }
  .orderContainer {
    gap: 30px;
  }
}

/* 2K y 4K (1921px en adelante) */
@media screen and (min-width: 1921px) {
  .imgContainer {
    gap: 40px;
  }
  .cardContainer {
    gap: 40px;
  }
  .orderContainer {
    gap: 40px;
  }
}

/*MOBILE*/
@media (max-width: 640px){

  .contenedor{
    margin: 2%;
    margin-top: 5%;
  }

  .imgContainer{
    flex-direction: column;
    height: fit-content;
  }

  .orderContainer .imgContainer{
   display: none;
  }
  
}
