.info-container {
  flex: 1; /* ocupa el mismo alto que el otro lado */
  max-width: 400px;
  min-height: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
}

p {
  margin: 8px 0;
  font-size: 18px;
}

.wspIC{
  display: flex;
  align-items: center;
  gap: 5px;
}

.wspI{
  width: 24px;
}

a{
  text-decoration: none;
  color: black;
}

/* Laptops chicas (901px – 1280px) */
@media screen and (min-width: 901px) and (max-width: 1280px) {
  .info-container {
    max-width: 500px;
    min-height: 500px;
    padding: 35px;
  }
  p {
    font-size: 19px;
  }
}

/* Laptops grandes y desktops comunes (1281px – 1600px) */
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .info-container {
    max-width: 550px;
    min-height: 520px;
    padding: 40px;
  }
  p {
    font-size: 20px;
  }
}

/* Monitores grandes (1601px – 1920px) */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .info-container {
    max-width: 600px;
    min-height: 550px;
    padding: 45px;
  }
  p {
    font-size: 21px;
  }
}

/* 2K y 4K (1921px en adelante) */
@media screen and (min-width: 1921px) {
  .info-container {
    max-width: 700px;
    min-height: 600px;
    padding: 50px;
  }
  p {
    font-size: 22px;
  }
}

@media (max-width: 640px) {
  .info-container {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    max-width: 100%;
    min-height: auto;
    padding: 25px;
  }
  p {
    font-size: 16px;
  }

  .maps {
    width: 100%;
    height: 200px;
  }
}
