.homeBanner {
    background-image: url('/assets/img/bannerHome.png');
    width: 100%;
    height: var(--banner-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contactBG {
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/bgcontact.jpg');
    background-color: rgba(0,0,0,0.35);
    background-blend-mode: darken;
    align-content: center;
    background-size: cover;
    background-position: center;
    padding-bottom: 2%; padding-top: 2%;
}

@media (max-width: 640px){

    .homeBanner {
        height: 200px;
    }
}