<app-simply-section></app-simply-section>
<app-simply-section title="Conocé al equipo que cuida de tu compañero"
paragraph="Sabemos que el vínculo que nos une a las familias de nuestros pacientes se construye sobre la confianza mutua. 
Un paso fundamental para generar esa conexión es que nos conozcas. Por eso, te presentamos a los profesionales responsables 
de nuestras áreas médicas, el equipo humano que día a día trabaja con dedicación y compromiso por la salud y el bienestar de 
tu compañero de vida."></app-simply-section>

<div style="text-align: center;"><h1>Nuestro Staff</h1></div>

<app-medico img="/assets/img/medico1.jpg" 

title="Dra. María Eugenia Denzoin"
prg="La Dra. Denzoin es una profesional de reconocida trayectoria en el campo de la oncología
veterinaria en Argentina y Latinoamérica. Como fundadora y directora de nuestro centro, combina su extensa experiencia clínica con una sólida 
carrera académica posicionándola como una líder de referencia en la especialidad. Fue pionera en la implementación de cirugía de mínima 
invasión en la Argentina, poniendo en marcha hace más de 8 años el primer servicio veterinario especializado en laparoscopia y toracoscopia."

title2="Trayectoria Académica y Liderazgo Profesional"
prg2="Socia fundadora, secretaria y actualmente Presidenta de la Sociedad Argentina de Oncología Veterinaria. 
Profesora Asociada de Patología General en la Facultad de Ciencias Veterinarias de la Universidad Nacional del Centro de la Provincia 
de Buenos Aires (UNICEN). Pionera en Cirugía de Mínima Invasión: Implementó y dirigió el primer servicio de laparoscopia y toracoscopia 
veterinaria de la región hace más de 8 años. Investigadora Categorizada por el Ministerio de Educación, Ciencia y Tecnología de la Nación."

title3="Docencia de Posgrado"
prg3="La Dra. Denzoin ha sido docente en diversas instituciones de educación superior, formando a nuevas generaciones de profesionales 
en el área de la oncología veterinaria. Su compromiso con la educación se refleja en su enfoque pedagógico y en la actualización constante 
de sus contenidos.">
</app-medico>

<app-medico img="/assets/img/medico4.jpg" 

title="Dr. Pablo Nejamjin"
prg="El Dr. Pablo Nejamkin es un destacado profesional especializado en Anestesiología. Con una vasta experiencia en el manejo en el 
soporte anestésico de pacientes de alto riesgo y procedimientos quirúrgicos complejos, incluyendo la cirigia de mínima invasión que  
es una pieza fundamental en nuestro equipo de oncología. Su expertise garantiza la máxima seguridad y bienestar de nuestros pacientes 
durante todos los procedimientos diagnósticos y terapéuticos. "

title2="Experiencia Clínica y Liderazgo Profesional "
prg2="Especialista en Anestesiología en el Centro de Oncología Veterinaria de Tandil. 
Manejo anestésico avanzado del paciente oncológico y del paciente crítico. 
Soporte anestésico especializado para procedimientos de cirugía de mínima invasión (laparoscopia, toracoscopia) y cirugía oncológica compleja. 
Experto en anestesia para pacientes con comorbilidades  y en protocolos de analgesia multimodal. "

title3="Trayectoria Académica y Docencia"
prg3="El Dr. Nejamkin está comprometido con la educación continua y la formación de profesionales en su especialidad 
Docente de Posgrado en Anestesiología en diversas instituciones veterinarias. 
Conferencista Invitado en congresos nacionales e internacionales, compartiendo conocimientos sobre anestesia segura. 
Instructor en cursos prácticos de técnicas anestésicas avanzadas y monitorización."

title4="Producción Científica y Contribuciones"
prg4="Autor y Co-autor  de trabajos y artículos científicos enfocados en anestesiología.
Expositor en congresos, abordando temas de vanguardia en su campo. 
Su labor clínica y académica está orientada a la implementación de protocolos seguros  y al  manejo humanitario del dolor, 
especialmente en pacientes oncológicos.">
</app-medico>

<app-medico img="/assets/img/medico5.jpg" 

title="Milagros Morán | Médica Veterinaria"
prg="Médica Veterinaria egresada de la Universidad Nacional del Centro de la Provincia de Buenos Aires (UNICEN), con formación 
práctica especializada en nuestro centro. Durante su pasantía, se ha desempeñado en las áreas de cirugía oncológica, clínica de 
pacientes con cáncer y administración de quimioterapéuticos, demostrando compromiso, empatía y altos estándares de seguridad en 
el manejo de tratamientos complejos. Su dedicación y aprendizaje continuo la convierten en un valioso miembro de nuestro equipo"

title2="Áreas de Especialización Práctica"
prg2="Asistencia en Cirugía Oncológica: Soporte en procedimientos quirúrgicos y cuidados pre y postoperatorios.  
Administración de Quimioterapia:Preparación y aplicación de agentes citotóxicos bajo protocolos de bioseguridad. 
Comunicación con tutores sobre planes de tratamiento y cuidados paliativos. "

title3="Afiliación"
prg3="Miembro del equipo de pasantes del Centro de Oncología Veterinaria de Tandil.">
</app-medico>

<app-medico img="/assets/img/medico3.jpg" 

title="Guido José Arriaga | Médico Veterinario "
prg="Médico Veterinario egresado de la Universidad Nacional de La Plata (UNLP), con especialización en Diagnóstico 
de Laboratorio Veterinario y amplia experiencia en anatomopatología e inmunohistoquimica, con foco en el diagnóstico
 de neoplasias en animales de compañía. Forma parte del equipo del Centro de Oncología Veterinaria de Tandil, donde se 
 desempeña como especialista en diagnóstico histopatológico y citológico de tumores. Su trabajo es fundamental para la 
 caracterización precisa de lesiones oncológicas y la definición de tratamientos."

title2="Formación Académica"
prg2="- Médico Veterinario – Universidad Nacional de La Plata (UNLP)   
- Especialización en Diagnóstico de Laboratorio Veterinario UNLP    
- Curso de Posgrado en Diagnóstico Citológico – Universidad Nacional del Centro de la Provincia de Buenos Aires."

title3="Experiencia en el Centro de Oncología Veterinaria"
prg3="Especialista en Anatomopatología Tumoral 
Responsable del diagnóstico histopatológico y citológico oncológico. Participación activa en la caracterización de tumores 
benignos y malignos en perros y gatos, contribuyendo al registro institucional de neoplasias y apoyando la toma de decisiones clínicas. ">
</app-medico>
